.navWrap {
    border:1px solid black;
}

.navList {
    list-style: none;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.navList a {
    font-weight: 600;
    color: #007bff;
    text-decoration: none;
}
